
config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true

lombok.setter.flagUsage = ERROR
lombok.toString.flagUsage = ERROR
lombok.equalsAndHashCode.flagUsage = ERROR
lombok.nonNull.flagUsage = ERROR
lombok.data.flagUsage = ERROR
lombok.getter.lazy.flagUsage = ERROR
lombok.var.flagUsage = ERROR
lombok.val.flagUsage = ERROR
